azure-common==1.1.4
azure-nspkg==1.0.0
azure-storage==0.32.0
boto3==1.3.1
botocore==1.4.40
docutils==0.12
econtent==1.2.5
eyeD3==0.7.9
futures==3.0.5
jmespath==0.9.0
middleware==1.0
pymongo==3.3.0
python-dateutil==2.5.3
requests==2.10.0
ruamel.ordereddict==0.4.9
ruamel.yaml==0.11.14
six==1.10.0
wsgiref==0.1.2
